<div class="container">
  <div class="row">

<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
      <% if comment.user.profile.present? %>
<%= image_tag(comment.user.profile.thumb.url,style:"border-radius:50%;width:60px;height:60px;",class:"thumbnail")  %>
 <!-- 用户的可以自选头像 -->
<% else %>
<%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwgy1ffzxufbo0lj3069069t8o.jpg",class:"thumbnail",style:"width:60px;height:60px;border-radius:50%;") %>
  <!-- 定义用户未选择头像时的默认头像 -->
<% end %>

<% if comment.user.name.present?%>
			<p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.name %></small></p>
<% else %>
      <p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.email %></small></p>
      <% end %>


		</div>


    	<div>
		<% if comment.user == current_user -%>
			<%= link_to 'Delete', product_comment_path(@product, comment), method: :delete, class: "pull-right btn btn-danger",data: { confirm: 'Are you sure to delete?' }%>
		<% end %>
	</div>
</div>
</div>
<hr>
</div>
