<html>

    <body>

        <div class="container">
            <div class="row product">
                <div class="col-md-5 col-md-offset-0">
                       <% if @photos.present? %>
       <% @photos.each_with_index do |p, index| %>
         <% if index == 0 %>                          #第一幅图片显示为大图（index=0）
           <%= image_tag p.avatar.medium.url %>
           <div style="letter-spacing: -8px">
         <% else %>
           <%= image_tag p.avatar.thumb.url %>
         <% end %>
       <% end %>
       </div>
   <% else %>
       <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
   <% end %>
                </div>
                <div class="col-md-7 panel-default">
                    <h2><%= @product.title %></h2>

                    <h3>
                        <!-- 如果有折扣 -->
                        <% if @product.discount.present? && @product.quantity > 0 %>
                        <!--  顯示折扣％ -->
                        <%= @product.discount %>% off
                        <!--  顯示原價，加上刪除線 -->
                        <s>
                            <div class="product-price">
                                ￥
                                <%= @product.price %>
                            </div>
                        </s>
                        <!--  顯示優惠價 -->
                        <div class="product-price discount">
                            ￥<%= @product.price = @product.price * @product.discount/100 %></div>
                    <% else %>
                        <!-- 沒折扣 -->
                        <div class="product-price">
                            ￥
                            <%= @product.price %>
                        </div>
                        <% end %>
                        <br>
                        <div>
                            数量 :
                            <%= @product.quantity %>
                        </div>
                    </h3>
                    <div >
                        <% if @product.quantity.present? && @product.quantity > 0 %>
                        <%= link_to("加入购物车", add_to_cart_product_path(@product),:method => :post, :class => "btn btn-danger ") %>
                    <% else %>
                        已经销售一空，无法购买
                        <% end %>

                    </div>
                </div>
            </div>
<div class="container">
  <div class="row">
            <div class="page-header">
                <h3>Product Details</h3>
            </div>
            <p>
              <%= @product.description %>
            </p>
          </div>

        </div>


        <div class="container">
          <div class="row">
            <div class="page-header">
                <h3>Comments</h3>
            </div>
          </div>
        </div>
        <div id="comments">
            <%= render @product.comments%>
            <%= render "comments/form"%>
        </div>

    </body>

</html>
